$wide: '(max-width: 1800px)' !default;
$desktop: '(max-width: 1200px)' !default;
$tablet-landscape: '(max-width: 900px)' !default;
$tablet-portrait: '(max-width: 600px)' !default;
$mobile: '(max-width: 320px)' !default;
