<% const products = [
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
  { name: '', description: '', link: '', photo: ''},
]; %>

<div class="product__merchandiseList">
  <h2 class="title text-center mx-auto">更多推薦商品</h2>
  <div class="merchandise__list d-flex f-jc-between mx-auto f-w-wrap">
    <% products.forEach(ele => { %>
    <a href="<%- ele.link -%>" target="_blank" class="text-center">
      <img src="<%- ele.photo -%>" alt="" />
      <h3><%- ele.name -%></h3>
      <p class="content mb-3"><%- ele.description -%></p>
    </a>
    <% }); %>
  </div>
</div>
